.books-container {
    padding: 20px 20px;
    min-height: 100vh;
  }
  
  .books-container h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1.2px;
    color: #000000;
  }
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .book-card {
    background-color: #bdbeff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    height: 400px; /* Book-like vertical shape */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .book-card h3 {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .book-card p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .book-card:hover {
    transform: scale(0.88); 
    background:  #d7a5ff;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 768px){
    .books-container h2 {
      font-size: 1.4rem;
    }

    .books-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 30px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .book-card{
      height: 220px;
      margin: 10px;
    }
  }