.footer {
  background-color: #111;
  color: #eee;
  padding: 40px 20px;
  font-size: 0.95rem;
  text-align: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-top a {
  font-size: 0.95rem;
}

.footer-logo {
  font-size: 1.5rem;
  margin: 0 0 10px;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: normal;
  color: #fff;
}

.footer-links,
.footer-legal,
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}

.footer-links a,
.footer-legal a,
.footer-social a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-legal a:hover,
.footer-social a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 0.95rem;
  text-align: center;
}

.footer-email {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  margin: 0.2rem 0;
}

.footer-email:hover {
  text-decoration: underline;
  color: #8dc4ff;
}

/* Mobile-Friendly Adjustments */
@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 15px;
    font-size: 0.9rem;
  }

  .footer-logo {
    font-size: 1.3rem;
  }

  
  .footer-legal {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-links,
  .footer-social{
    flex-direction: row;
  }

  .footer-links a,
  .footer-legal a,
  .footer-social a {
    font-size: 0.9rem;
  }

  .footer-bottom {
    padding-top: 10px;
    font-size: 0.8rem;
  }
}



